p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

body {
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: lower-roman;
}

h2 {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: aliceblue;
    color: darkred;
}